<h1 style="text-align: center; margin-top:30px;">Subjects</h1>

<div  class="card-div">
 <mat-card class="example-card" *ngFor="let subject of subjects;let i = index">
    <mat-card-header>
      <mat-card-subtitle style="color: rgb(222, 215, 215);">{{subject.yearOfStudy.studyProgram.name}}</mat-card-subtitle>
      <mat-card-title style="text-transform: uppercase;">{{subject.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top:10px;">      
      <mat-divider style="background-color: rgb(46, 44, 44);"></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="data(subject)" style="margin-right:10px;color: rgb(222, 215, 215);" *ngIf="allowEditAndDelete" mat-button>Edit</button>
      <button (click)="deleteSubject(subject.id)" style="margin-right:10px;color: rgba(228, 72, 72, 0.998);"*ngIf="allowEditAndDelete" mat-button>Remove</button>
      <button style="color: rgb(222, 215, 215);" mat-button (click)="showSubjectDetails(i)">Details</button>
    </mat-card-actions>
  </mat-card>
</div>

<hr style="margin-top:60px;">

<div *ngIf="allowEditAndDelete" style="text-align: center;margin-top:40px;">
  <button (click)="showForm()" class="form-btn" mat-raised-button type="button">{{!isOpened ? 'Show Form' : 'Close Form'}}</button>
  </div>
  
  <div *ngIf="isOpened" style="width: 20%; margin: 80px auto;padding: 30px;border-radius: 8px;background-color: rgb(77, 83, 96);
      box-shadow: 1px 8px 3px rgb(77, 83, 96);">
      <form action="" style="display: flex;flex-direction: column;" (submit)="create()" [formGroup]="subjectForm">
        
        <mat-form-field>
          <mat-label>Enter Subject Name:</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
                
        <mat-label style="color: rgb(222, 215, 215);">Is Mandatory:</mat-label>
        <mat-checkbox formControlName="mandatorySubject">True</mat-checkbox>
        
        <mat-form-field>
          <mat-label>Enter ECTS:</mat-label>
          <input type="number" matInput formControlName="ects">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Number Of Semesters:</mat-label>
          <input type="number" matInput formControlName="numberOfSemesters">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Number Of Lectures:</mat-label>
          <input type="number" matInput formControlName="numberOfLectures">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Number Of Practical Lectures:</mat-label>
          <input type="number" matInput formControlName="numberOfPracticalLectures">
        </mat-form-field>
  
        <mat-form-field formGroupName="yearOfStudy">
          <mat-label>Choose Year Of Study:</mat-label>
          <mat-select formControlName="id">
            <mat-option *ngFor="let yearOfStudy of yearsOfStudy" [value]="yearOfStudy.id">Year:{{yearOfStudy.year}} {{yearOfStudy.studyProgram.name}}</mat-option>        
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Syllabus:</mat-label>
          <textarea matInput type="text" matInput formControlName="syllabus"></textarea>
        </mat-form-field>


        <div style="width: 100%;text-align:center;">
          <hr style="background-color: rgb(222, 215, 215);">
            <button class="form-btn" style="margin-right: 20px;" mat-raised-button type="submit">{{ subjectForm.get("id")?.value == undefined ? 'Add' : 'Edit'}}</button>
            <button class="form-btn" mat-raised-button (click)="reset()" type="button">Reset</button>
        </div>
    </form>
  </div>
  

